/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);
@import url(footer.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.blog_title {
  margin: 40px auto 30px auto;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
}

.blog_intro {
  margin: 10px auto 40px auto;
  text-align: center;
  width: 70%;
  font-size: 1.1em;
}

.blog_top_line {
  width: 50%;
  margin: 0 auto 50px auto;
}

.blog_top_line::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #c8c8c8;
}

/* Media querries for intro */
@media (min-width: 700px) {
  .blog_intro {
    width: 45%;
    margin: 10px auto 50px auto;
  }

  .blog_top_line {
    width: 40%;
    margin: 20px auto 40px auto;
  }
}

@media (min-width: 1000px) {
  .blog_intro {
    width: 30%;
  }
}


.blog_sections {
  display: flex;
  flex-direction: column;
  margin: auto;
}


/* 
  filter 
*/

.blog_filter_mobile {
  width: 300px;
  height: 60px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 17px 20px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #c8c8c8;
  display: flex;
  position: sticky;
  top: 100px;
  cursor: pointer;
}

.filter_intro {
  margin: auto 50px auto 0;
  font-size: 1.1em;
}

.blog_filter_mobile .filter_arrow {
  margin: auto 0 auto 70px;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #0074D9;
  border-radius: 50%;
  transition: 0.3s;
}

.blog_filter_mobile.open .filter_arrow {
  transform: rotate(-180deg);
}


/* 
  Filter for desktop version 
*/

.blog_filter_desktop {
  width: 300px;
  margin: 20px auto;
  padding-bottom: 20px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 #c8c8c8;
  border-radius: 10px;
  list-style-type: none;
  display: none;
  position: sticky;
  top: 180px;
}

.search_bar {
  width: 80%;
  height: 30px;
  margin: 20px auto 10px auto;
  padding: 0 5px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.filter_line {
  width: 60%;
  margin: 10px auto 30px auto;
}

.filter_line::after {
  content: " ";
  display: block;
  border-bottom: 2px solid #c8c8c8;
}

.desktop_item {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  margin: 20px 0 20px 30px;
}

/* When opening the filter */
.blog_filter_mobile.open ~ .blog_filter_desktop {
  display: block;
}

.desktop_item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #c8c8c8;
  border-radius: 4px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

/* When clicking on item */
.checkbox .fa-check {
  font-size: 12px;
  color: #0074D9;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.desktop_item.checked .fa-check {
  transform: scale(1);
}

.desktop_item.checked .checkbox {
  background-color: #38a2ff56;
  border-color: #38a2ff;
}

.item_text {
  font-family: 'inter', sans-serif;
}

/* Media querries for filter */
@media (min-width: 1000px) {
  .blog_filter_desktop {
    margin: 20px auto -120px auto;
  }
}


/* 
  Blog posts 
*/

.post_align {
  display: flex;
  flex-direction: column;
}

.blog_posts {
  float: left;
  list-style-type: none;
  width: 100%;
  margin: 30px auto;
}

.hidden_posts {
  list-style-type: none;
  width: 100%;
}

/* Media querries for the two main sections */
@media (min-width: 300px) {
  .post_align {
    margin: auto;
  }

  .hidden_posts {
    display: none;
  }
}

@media (max-width: 799px) {
  .post_align {
    margin: auto;
  }

  .hidden_posts {
    flex-direction: column;
  }

  .hidden_posts > * {
    /*flex: 0 1 300px;*/
    margin: auto;
  }
}

@media (min-width: 800px) {
  .post_align {
    margin: auto;
    width: 85%;
  }

  .blog_posts {
    display: flex;
    flex-wrap: wrap;
  }

  .hidden_posts {
    flex-wrap: wrap;
  }

  .blog_posts > * {
    /*flex: 0 1 300px;*/
    margin: auto;
  }

  .hidden_posts > * {
    flex: 0 1 300px;
  }
}

@media (min-width: 1000px) {
  .post_align {
    width: 54%;
    margin: auto 0;
  }

  .blog_sections {
    flex-direction: row;
  }

  .blog_filter {
    margin-top: 30px;
    width: 35%;
  }

  .blog_filter_mobile {
    margin: 25px auto;
  }

  .blog_posts {
    margin: 30px 20px 60px 20px;
  }

  .hidden_posts {
    margin: -60px 20px 60px 20px;
  }
}

@media (min-width: 1200px) {
  .blog_filter {
    width: 35%;
  }
}

.blog {
  width: 300px;
  margin: 30px auto;
}

.blog a {
  color: #ffffff;
}

.blog_image {
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog_description {
  background-color: #141414;
  color: #ffffff;
  padding: 20px 0 30px 0;
  margin-top: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.blog_desc_text {
  margin: auto auto 30px auto;
}

.blog_line {
  width: 260px;
  margin: auto;
}

.blog_line::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffffff;
}

.blog_date_and_more {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.blog_desc_date {
  width: 120px;
  text-align: left;
  margin: auto;
  padding-left: 15px;
}

.blog_desc_more {
  width: 120px;
  text-align: right;
  margin: auto;
  padding-right: 15px;
}

/* Blog button */
.blog_button {
  width: 300px;
  height: 100px;
  color: #002A42;
  background-color: #aac7df88;
  margin: 20px auto;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.button_text {
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  padding-top: 10px;
}

.button_line {
  width: 120px;
  margin: auto;
}

.button_line::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #002A42;
}

.blog_button .fa-chevron-left {
  margin: 30px auto 10px auto;
}