
/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);
@import url(footer.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.home_title {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 2.2em;
  margin: 40px auto 30px auto;
}


/* Setting up the container */
.home_intro {
  display: flex;
  flex-direction: column;
}


/* Top intro */
.intro_description {
  background: linear-gradient(#015180, #001724);
  padding: 30px 0 60px 0;
}

.description_text {
  color: #ffffff;
  width: 60%;
  margin: 10px auto 10px auto;
}

#description_text_1 {
  margin-bottom: 20px;
  font-weight: 400;
}

#description_text_3 {
  margin-top: 40px;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
}


/* Top image */
.intro_image {
  width: 100%;
}


/* Media querries for top description and image */
@media (min-width: 700px) {
  .home_intro {
    flex-direction: row-reverse;
  }

  .intro_image, .intro_description {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .home_intro {
    height: 400px;
  }

  .description_text {
    width: 240px;
  }

  #description_text_1 {
    margin-top: 40px;
  }

  #description_text_3 {
    margin-top: 50px;
  }
}


/*
  Blogs section
*/

/* Blog section title */
.home_posts {
  width: 90%;
  margin: auto;
}

.home_latest {
  text-align: left;
  margin: 60px auto 3px auto;
}

.line_1 {
  width: 80px;
  margin-bottom: 5px;
}

.line_1::after {
  content: " ";
  display: block;
  border-bottom: 4px solid #002A42;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.line_2 {
  width: 50px;
  margin-bottom: 40px;
}

.line_2::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #0074D9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


/* Blog carousel */
.blog_posts {
  width: 85%;
  height: 380px;
  overflow: auto;
  white-space: nowrap;
  margin: auto auto -20px auto;
  display: flex;
  flex-direction: row;
}

.posts {
  margin: auto 2px;
}

.blog_posts .blog {
  display: inline-block;
  justify-content: center;
}


/* 
  Blog posts 
*/

.blog {
  width: 300px;
  margin: auto auto 15px auto;
}

.blog_image {
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog_description {
  background-color: #141414;
  color: #ffffff;
  padding: 20px 0 30px 0;
  margin-top: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blog_desc_text {
  margin: auto auto 30px auto;
}

.blog_line {
  width: 260px;
  margin: auto;
}

.blog_line::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffffff;
}

.blog_date_and_more {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.blog_desc_date {
  width: 120px;
  text-align: left;
  margin: auto;
  padding-left: 15px;
}

.blog_desc_more {
  width: 120px;
  text-align: right;
  margin: auto;
  padding-right: 15px;
}


/* Media querries for the carousel */
@media (min-width: 700px) {
  .blog {
    margin: auto 10px 15px 10px;
  }
}

@media (min-width: 1000px) {
  .blog_posts {
    overflow: hidden;
  }

  .blog_posts ::-webkit-scrollbar {
    display: none;
  }

  .blog {
    margin: auto 20px 15px 20px;
  }

  .blog:hover {
    transform: scale(1.05);
    transform-origin: top;
    transition: 0.5s ease-in-out;
  }
}


/* Carousel arrows*/
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.fa-chevron-left {
  color: #000000;
  margin: 50px 20px 20px 20px;
}

.carousel_buttons {
  text-decoration: none;
  margin: auto 30px auto 30px;
}

.carousel_prev {
  display: none;
}
/*
.carousel_next {
  display: block;
}*/

/* Buttons hover effects */
.carousel_prev:hover, .carousel_next:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.carousel_prev:hover {
  transform-origin: center bottom;
}

.carousel_next:hover {
  transform-origin: center bottom;
}


/* The progress container (grey background) */
.carousel_bar {
  width: 120px;
  height: 8px;
  background: #cccccc;
  margin: 55px 10px 20px 10px;
  border-radius: 30px;
}


/* The progress bar (scroll indicator) */
.bar {
  height: 8px;
  background: #002A42;
  width: 0%;
  border-radius: 30px;
  padding: 0 4px;
}

.hidden {
  display: none;
}