
/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.home_title {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  margin: 40px auto 30px auto;
}

/* Setting up the container */
.home_intro {
  display: flex;
  flex-direction: column;
}

/* Top intro */
.intro_description {
  background: linear-gradient(#015180, #001724);
  padding: 30px 0 60px 0;
}

.description_text {
  color: #ffffff;
  width: 60%;
  margin: 10px auto 10px auto;
}

#description_text_1 {
  margin-bottom: 20px;
  font-weight: 400;
}

#description_text_3 {
  margin-top: 40px;
  font-weight: 400;
  font-family: 'Comfortaa', cursive;
}

/* Top image */
.intro_image {
  width: 100%;
}

/* Media querries for top description and image */
@media (min-width: 700px) {
  .home_intro {
    flex-direction: row-reverse;
  }

  .intro_image, .intro_description {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .home_intro {
    height: 400px;
  }

  .description_text {
    width: 240px;
  }

  #description_text_1 {
    margin-top: 40px;
  }

  #description_text_3 {
    margin-top: 50px;
  }
}


/*
  Blogs section
*/

/* Blog section title */
.home_latest {
  text-align: left;
  margin: 60px auto 3px 35px;
}

.line_1 {
  width: 80px;
  margin: 0 0 5px 35px;
}

.line_1::after {
  content: " ";
  display: block;
  border-bottom: 4px solid #002A42;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.line_2 {
  width: 50px;
  margin: 0 0 40px 35px;
}

.line_2::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #0074D9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


/* Blog carousel */
.home_blogs {
  width: 85%;
  height: 360px;
  overflow: auto;
  white-space: nowrap;
  margin: auto;
}

.home_blogs:hover {
  height: 380px;
  transition: 0.5s ease-in-out;
}

.home_blogs .blog {
  display: inline-block;
  justify-content: center;
}


/* Blog posts */
.blog {
  width: 300px;
  margin: auto auto 15px auto;
}

.blog:hover {
  transform: scale(1.05);
  transform-origin: top;
  transition: 0.5s ease-in-out;
}

.blog_image {
  width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog_description {
  background-color: #141414;
  color: #ffffff;
  padding: 20px 0 30px 0;
  margin-top: -5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blog_desc_text {
  margin: auto auto 30px auto;
}

.blog_line {
  width: 260px;
  margin: auto;
}

.blog_line::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #ffffff;
}

.blog_date_and_more {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.blog_desc_date {
  width: 120px;
  text-align: left;
  margin: auto;
  padding-left: 15px;
}

.blog_desc_more {
  width: 120px;
  text-align: right;
  margin: auto;
  padding-right: 15px;
}


/* Media querries for the carousel */
@media (min-width: 700px) {
  .blog {
    margin: auto 10px 15px 10px;
  }
}

@media (min-width: 1000px) {
  .blog {
    margin: auto 20px 15px 20px;
  }
}


/* Carousel dots and arrows*/
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.fa-chevron-left {
  color: #000000;
  margin: 50px auto 20px auto;
}

.carousel_buttons {
  text-decoration: none;
  margin: auto 30px auto 30px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 55px 10px 20px 10px;
  background-color: #AAC7DF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.dot:hover {
  background-color: #002A42;
  transform: scale(1.5);
  transition: 0.5s;
}

.scale {
  animation-name: slide;
  animation-duration: 0.5s;
}

@keyframes slide {}


/* 
  Footer 
*/

footer {
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  padding: 60px 0 80px 0;
}

.footer_logos {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.fa-brands {
  margin: 30px 10px 10px 10px;
}

/* Media querries for footer */
@media (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 30px 50px 40px 50px;
  }

  .footer_logos {
    margin-left: -45px;
  }

  .fa-brands {
    margin: auto auto auto 30px;
  }
}