
/*
  Top navigation bar (white)
*/

.navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 2px 10px 2px 10px;
  z-index: 100;
}

/*Drop by Drop logo*/
.logo {
  display: inline-block;
  width: 90px;
  height: 55px;
  margin: 7px 0 5px 15px;
  border-radius: 10px;
}

.navigation {
  height: 40%;
  width: 320px;
  position: fixed;
  overflow: hidden;
  background-color: #ffffff;
  right: 0;
  top: 80px;
  max-height: 0;
  transition: max-height .5s ease-out;
  z-index: 100;
  border-bottom-left-radius: 30px;
}

.menu {
  margin-right: 40px;
}

.menu li {
  font-family: 'Inter', sans-serif;
  margin: auto 20px auto 0;
}

.menu a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 25px 50px 25px 50px;
  color: #000000;
}

.menu li:hover {
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

.menu a:hover {
  border-radius: 10px;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/*Media querries for menu (For mobile)*/
@media (max-width: 999px) {
  .navbar {
    padding: 0 10px 0 10px;
  }

  .navigation {
    height: 510px;
  }

  .logo {
    width: 100px;
    height: 65px;
  }

  .fa-arrow-left-long {
    margin: 12px 0 12px 15px;
    padding: 10px 10px 10px 10px;
  }

  .menu {
    margin-top: 30px;
  }

  .menu a {
    font-size: 30px;
    margin: 15px 10px 15px 0;
  }

  .menu a:hover {
    transform: scale(1.1);
    transform-origin: left;
  }
}

@media (min-width: 1100px) {
  .menu {
    list-style: none;
    float: right;
  }

  .menu li {
    float: left;
  }
}

.icon {
  cursor: pointer;
  float: right;
  padding: 35px 20px 35px 20px;
}

.burgerline {
  background: #000000;
  display: block;
  height: 4px;
  position: relative;
  width: 35px;
  border-radius: 10px;
}

.burgerline::before,
.burgerline::after {
  background:#000000;
  content: ' ';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
}

.burgerline::before {
  top: 10px;
  border-radius: 10px;
}

.burgerline::after {
  top: -10px;
  border-radius: 10px;
}

/*Media querries for the menu burgerlines*/
@media (max-width: 999px) {
  .burgerline {
    height: 7px;
    width: 65px;
    top: 4px;
  }

  .burgerline::before {
    top: 18px;
  }

  .burgerline::after {
    top: -18px;
  }
}

.burgermenu {
  display: none;
}

.burgermenu:checked ~ nav {
  max-height: 100%;
}

.burgermenu:checked ~ .icon .burgerline {
  background: transparent;
}

.burgermenu:checked ~ .icon .burgerline::before {
  transform: rotate(-45deg);
  top: 0;
}

.burgermenu:checked ~ .icon .burgerline::after {
  transform: rotate(45deg);
  top: 0;
}

/*Media querries for menu change with width*/
@media (min-width: 1000px) {
  .navigation {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    z-index: 100;
  }

  .menu li {
    float: left;
    list-style-type: none;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .icon {
    display: none;
  }
}