/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);
@import url(footer.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.top_container {
  position: relative;
}

.back_button {
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 30px;
  top: 20px;
  left: 30px;
  font-family: 'inter', sans-serif;
  font-size: 1.2em;
  border: 3px solid #88a6b4;
  border-radius: 30px;
}

.back_button .fa-chevron-left {
  margin-right: 10px;
}

.specific_hero {
  width: 100%;
  height: 472px;
  object-fit: cover;
  object-position: 0 20%;
}

.specific_title {
  margin: 40px auto 30px auto;
  text-align: center;
  text-decoration: underline;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  color: #002A42;
}

main .specific_title {
  width: 85%;
}

.specific_description {
  text-align: left;
  width: 85%;
  margin: 20px auto 30px auto;
}

.specific_description li {
  font-family: 'inter', sans-serif;
}

.description_text {
  margin: 15px auto;
  line-height: 1.4em;
}

.description_lists {
  width: 85%;
  margin: auto;
  line-height: 1.3em;
}

.list_point {
  margin: 10px auto;
}

.image {
  margin: auto;
  width: 85%;
}

/* Media querries for text and image */
@media (min-width: 1000px) {
  .specific_sections {
    display: flex;
    flex-direction: row;
  }

  .specific_description {
    width: 40%;
    margin: 0 auto 30px auto;
  }

  .specific_image {
    width: 40%;
    margin: 20px auto 30px auto;
  }
}


footer .specific_title {
  color: #ffffff;
  text-decoration: none;
}