/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);
@import url(footer.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.top_container {
  position: relative;
}

.back_button {
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 30px;
  top: 20px;
  left: 30px;
  font-family: 'inter', sans-serif;
  font-size: 1.2em;
  border: 3px solid #88a6b4;
  border-radius: 30px;
}

.back_button .fa-chevron-left {
  margin-right: 10px;
}

.specific_hero {
  width: 100%;
  height: 472px;
  object-fit: cover;
  object-position: 0 20%;
}

.specific_title {
  margin: 40px auto 30px auto;
  text-align: center;
  text-decoration: underline;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  color: #002A42;
}

main .specific_title {
  width: 85%;
}

.specific_description {
  text-align: left;
  width: 85%;
  margin: 20px auto 30px auto;
}

.specific_description li {
  font-family: 'inter', sans-serif;
}

.description_text {
  margin: 15px auto;
  line-height: 1.4em;
}

.description_lists {
  width: 85%;
  margin: auto;
  line-height: 1.3em;
}

.list_point {
  margin: 10px auto;
}

.image {
  margin: auto auto 30px auto;
  width: 85%;
  cursor: pointer;
  transition: 0.3s;
}

.image:hover {
  opacity: 0.7;
}

/* Media querries for text and image */
@media (min-width: 1000px) {
  .specific_sections {
    display: flex;
    flex-direction: row;
  }

  .specific_description {
    width: 40%;
    margin: 0 auto 30px auto;
  }

  .specific_image {
    width: 40%;
    margin: 20px auto 30px auto;
  }
}

/* 
  Modal for small image
*/
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000e6;
}

.modal_image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal_image {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.modal_close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal_close:hover,
.modal_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media (max-width: 700px) {
  .modal_image {
    width: 100%;
  }
}


/*
  Comment section
*/
.comment_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c8;
  z-index: 99;
  display: none;
}

.comment_section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 400px;
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 100;
  justify-content: center;
  animation-name: slidedown;
}

/* Adding the animation */
.comment_section {
  animation-duration: 0.6s;
  transition: 0.5s;
}

@keyframes slidedown {
  from {
    opacity: 0;
    top: 40%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.comment_title {
  color: #ffffff;
  font-family: 'inter', sans-serif;
}

.comment_name, .comment_email, .comment_text {
  width: 80%;
  padding: 5px;
  color: #ffffff;
  background-color: #3b3b3b;
  border: 1px solid #cccccc;
  border-radius: 5px;
  resize: none;
  font-family: 'inter', sans-serif;
}

.comment_name {
  height: 20px;
  margin: 30px 10% 10px 10%;
}

.comment_email {
  height: 20px;
  margin: 10px auto;
}

.comment_text {
  height: 100px;
  margin: 10px auto 20px auto;
}

.comment_button {
  padding: 0 40px 0 40px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin: 0 10% 30px 0;
  justify-content: center;
  text-align: center;
  color: #cccccc;
  background-color: #3b3b3b;
  border: 2px solid #cccccc;
  font-family: 'inter', sans-serif;
}

.comment_button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  transition: 0.5s ease-in-out;
}

.comment_text, .comment_button {
  display: flex;
  flex-direction: column;
}

.comment_container {
  width: 85%;
  margin: 0 auto 30px auto;
  padding-bottom: 30px;
}

.comment_close {
  float: right;
  cursor: pointer;
  margin: -12px -5px 10px 10px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.comment_logo {
  width: 60px;
  height: 60px;
  background-color: #0074D9;
  border-radius: 200px;
  justify-content: center;
  float: right;
  cursor: pointer;
}

.fa-message {
  padding-top: 30px;
  margin: auto;
  color: #ffffff;
}

/* Media querries for comments */
@media (min-width: 1000px) {
  .comment_section {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .comment_section {
    width: 50%;
  }
}

@media (min-width: 1286px) {
  .comment_section {
    width: 40%;
  }
}


/*
  Footer
*/
footer .specific_title {
  color: #ffffff;
  text-decoration: none;
}