/*
  Menu and body
*/

@import url(general.css);
@import url(menu.css);
@import url(footer.css);


/*
  Font
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap');
/* font-family: 'Comfortaa', cursive; */


/*
  Main
*/

.top_container {
  position: relative;
}

.back_button {
  position: absolute;
  color: #000000;
  background-color: #ffffff;
  padding: 15px 30px;
  top: 100px;
  left: 30px;
  font-family: 'inter', sans-serif;
  font-size: 1.2em;
  border: 3px solid #88a6b4;
  border-radius: 30px;
}

.back_button .fa-chevron-left {
  margin-right: 10px;
}

.subject_top {
  color: #ffffff;
  background: linear-gradient(#015180, #010b12);
  padding: 40px 0 20px 0;
}

.subject_title {
  margin: 80px auto 30px auto;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
}

.subject_intro {
  width: 70%;
  margin: 50px auto 40px auto;
  padding-bottom: 60px;
}

/* main */
.subject_info {
  color: #ffffff;
  background-color: #141414;
}

#climate_info {
  color: #000000;
  background-color: #fafafa;
}

.info {
  display: flex;
  flex-direction: column;
}

.info_text {
  width: 85%;
  padding: 20px 0 40px 0;
  margin: auto;
  text-align: left;
  line-height: 1.8em;
}

.text_title {
  margin: 10px auto 20px auto;
}

.text_description {
  margin: 10px auto 10px auto;
}

.info_image {
  width: 100%;
}

#info_1 {
  margin: -42px auto 0 auto;
}

#info_3 {
  margin: 0 auto -72px auto;
}

/* Media querries for info */
@media (min-width: 900px) {
  .subject_title {
    margin: 60px auto 30px auto;
  }

  .info_text {
    width: 50%;
    margin-top: 20px;
    line-height: 1.3em;
  }

  .info_image {
    width: 50%;
  }
  
  .info {
    flex-direction: row;
  }

  #info_2 {
    flex-direction: row-reverse;
  }

  .text_title, .text_description {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .info_text {
    line-height: 1.8em;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.subject_footer_image {
  width: 132px;
  height: 105px;
}

footer .subject_title {
  margin-top: 40px;
}